<div class="blur modal-container">
    <div class="content">
        <div class="about">
            <p class="name">Gruzownia</p>
            <p class="description">Przyjmiemy gruz i chętnych do jego worzenia.<br /> Mamy tu przykład długiego opisu żeby nie było że nic nie mamy</p>
            <p class="more-offerts">Więcej ofert od Gruzownia</p>
        </div>
        <div class="offerts">
            <div class="offer">
                <div class="offer-name"><span class="text">Dostarczenie gruzu</span><p class="offer-category">Potrzebne itemki</p></div>
                <p class="offer-description">Dajta nam gruzu.</p>
                <a href="#" class="offer-read-more">Więcej ></a>
            </div>
            <div class="offer">
                <div class="offer-name"><span class="text">Noszenie gruzu</span><p class="offer-category">Potrzebna pomoc</p></div>
                <p class="offer-description">Potrzeba chętnych do przeniesienia gruzu.</p>
                <a href="#" class="offer-read-more">Więcej ></a>
            </div>
            <div class="offer">
                <div class="offer-name"><span class="text">Jeszcze wincyj gruzu</span><p class="offer-category">Potrzebne itemki</p></div>
                <p class="offer-description">Potrzeba nam jeszcze WIĘCEJ gruzu.</p>
                <a href="#" class="offer-read-more">Więcej ></a>
            </div>
        </div>
    </div>
</div>