body {
    background-image: url("../images/background.png");
}

.background {
    height: 100%;
}

.row {
    height: 100%;
}

.sidebar {
    background-color: white;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}