@page "/about"

<PageTitle>AboutProject</PageTitle>

<div class="container-fluid background">
	<div class="row">
		<div id="one" class="col-sm-2"></div>
		<div id="two" class="col-sm-8 sidebar">
			<p class="title">
				O <span>Where2Help</span>
			</p>
			<div class="article">
				Where2Help is web application made for Hack Heroes 2022. As This year's edition is about citizens, 
				we decided that, we will prepare something that will help volunteers find interesting place, where they could help. 
				And vice versa, help various places find helpfull people or needed items.
			</div>
			<p class="description">Developed by:</p>
			<div class="made-by">
				<div class="id">
					<p class="name">£ukasz Kocielnik</p>
				</div>
				<div class="id">
					<p class="name">Szymon Sobczak</p>
				</div>
				<div class="id">
					<p class="name">Jakub Gradowski</p>
				</div>
				<div class="id">
					<p class="name">Bogdan ¯ygad³o</p>
				</div>
			</div>
		</div>
	<div id="three" class="col-sm-2"></div>
	</div>
</div>