.article {

}

.title {
    font-size: 3rem;
}

.made-by {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .id {
        .name {
            font-size: 2rem;
        }
    }
}