@page "/about"

<PageTitle>AboutProject</PageTitle>

<div class="container-fluid background">
	<div class="row">
		<div id="one" class="col-sm-2"></div>
		<div id="two" class="col-sm-8 sidebar">
			<p>
				Informacje o projekcie.
			</p>
			<div class="article">
				This is project about volunteers.
			</div>
			<p class="title">Brought to you by</p>
			<div class="made-by">
				<div class="id">
					<p class="name">£ukasz Kocielnik</p>
				</div>
			</div>
		</div>
	<div id="three" class="col-sm-2"></div>
	</div>
</div>