.col-sm-4 {
    border: 1px solid black;
    min-height: 100vh;
} 


@media (max-width: 767px) {
    .col-sm-4 {
    	min-height: 33.3333333%;
        height: 33.3333333%;
    } 
}

.button {
    padding-top: 10%;
}

.btn-primary {
    background-color: green;
}