@page "/LandingPage"

<PageTitle>LandingPage</PageTitle>

<div class="container-fluid background">
  <div class="row">
    <div id="one" class="col-sm-2"></div>
    <div id="two" class="col-sm-8"></div>
    <div id="three" class="col-sm-2"></div>
  </div>
</div>