@page "/"

<PageTitle>LandingPage</PageTitle>

<div class="container-fluid background">
  <div class="row">
	<div id="one" class="col-sm-2"></div>
	<div id="two" class="col-sm-8">
	  <p>
		Lorem ipsum dolor sit amet. Et omnis dolor ab autem eligendi et voluptatem quae ut voluptates adipisci in quod accusamus.
		Sit quia asperiores est quisquam esse quo ipsum autem.<br>
		Qui consequatur quidem quo repellendus animi quo rerum necessitatibus ab odit rerum et nisi modi rem voluptatibus porro!
		Est libero harum aut quis sapiente et delectus temporibus quia quae sed ullam omnis et Quis illum vel assumenda eveniet.
		Aut sapiente voluptatem qui perspiciatis laborum est obcaecati accusantium. Sed fuga ipsam et exercitationem nisi et nemo dolorem vel facere sapiente hic eius eius sit libero earum qui delectus explicabo.  
	  </p>
	  <div class="d-grid button">
		  <button class="btn btn-primary" type="button">Button</button>
	  </div>
	</div>
	<div id="three" class="col-sm-2"></div>
  </div>
</div>