@page "/main"

<PageTitle>Main</PageTitle>
<div class="container-fluid background">
    <div class="row">
        <div id="one" class="col-sm-2"></div>
        <div class="col-sm-8 main-content">
            <div class="map-wrapper">
                <Map @ref="mapRef" MapOptions="@mapOptions"></Map>
            </div>
            <div id="map-panel"></div>
        </div>
        <div class="panel col-sm-2">
        </div>
    </div>
</div>

<!--Dzia³a nie dotykaæ-->
<style> 
    #mapId {
        height: 100%;
        border-radius: 1rem;
    }
</style>
<!--Koniec-->

@code {
    private Map? mapRef;
    private MapOptions mapOptions = new MapOptions()
        {
            DivId = "mapId",
            Center = new LatLng(52.12469880945258, 20.667213695109037),
            Zoom = 15, //13
            UrlTileLayer = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            SubOptions = new MapSubOptions()
            {
                Attribution = "&copy; <a lhref='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
                TileSize = 512,
                ZoomOffset = -1,//-1
                MaxZoom = 17,
            }
        };
}
