@page "/main"

<PageTitle>Main</PageTitle>

<div class="map-wrapper">
    <Map @ref="mapRef" MapOptions="@mapOptions"></Map>
</div>
<div class="panel">
    My pins
</div>

<style>
    #mapId {
        height: 400px;
    }

</style>

@code {
    private Map mapRef;
    private MapOptions mapOptions = new MapOptions()
        {
            DivId = "mapId",
            Center = new LatLng(52.12469880945258, 20.667213695109037),
            Zoom = 15, //13
            UrlTileLayer = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            SubOptions = new MapSubOptions()
            {
                Attribution = "&copy; <a lhref='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
                TileSize = 512,
                ZoomOffset = -1,//-1
                MaxZoom = 17,
            }
        };
}
