@page "/"

@using BlazorLeaflet.Models;
@using BlazorLeaflet.Models.Events
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager

<PageTitle>Main</PageTitle>

<div class="container-fluid background">
    <div class="row">
        <div id="one" class="col-sm-2"></div>
        <div class="col-sm-8 main-content">
            <div class="map-wrapper">
                <LeafletMap Map="@map"></LeafletMap>
            </div>
            <div id="map-panel">
            </div>
        </div>
        <div class="panel col-sm-2">
        </div>
    </div>
</div>

@code {
    private Map map;

    private bool getLocationsError = false;
    private LocationModel location = new LocationModel();

    private bool isModalWindowOpen = false;

    protected override void OnInitialized()
    {
        location.Id = 1;
        location.Latitude = 52.1285461f;
        location.Longitude = 20.6709578f;
        location.Name = "Przyk³adowa lokacja";
        location.Description = "Opis przyk³adowej lokacji";

        map = new Map(jsRuntime)
        {
            Center = new LatLng(52.1285461f, 20.6709578f),
            Zoom = 4.8f
        };

        map.OnInitialized += () =>
        {
            map.AddLayer(new TileLayer
            {
                UrlTemplate = "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
                Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"
            });

            var marker = new Marker(location.Latitude, location.Longitude)
                {
                    Tooltip = new Tooltip
                    {
                        Content = location.Name
                    }
                };

            marker.OnClick += (InteractiveLayer sender, MouseEvent e) =>
            {
                navManager.NavigateTo("/modal");
            };
            map.AddLayer(marker);
        };
    }
}
